@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Onest', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: tight;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.animated-gradient {
  background: linear-gradient(
    180deg,
    #efeef5 0%,
    #ede7f5 25%,
    #f0e0e7 50%,
    #f4e7e0 75%,
    #f2e8db 100%
  );
}


.blur-overlay {
  position: fixed;
}

.blur-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(4px); 
  -webkit-backdrop-filter: blur(4px);

  mask-image: linear-gradient(
    180deg,
    rgba(246, 238, 231, 0) 0%,
    #F5EDE4 100%
  );
  -webkit-mask-image: linear-gradient(
    180deg,
    rgba(246, 238, 231, 0) 0%,
    #F5EDE4 100%
  );
}

.navbar-overlay {
  position: fixed;
}

.navbar-overlay::after {
  content: "";
  position: absolute;
  inset: 0;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  mask-image: linear-gradient(
    to bottom,
    rgba(238, 234, 245, 0) 0%,       
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 95.57%
  );
}

.hide-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}
